body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.audio {
    width: 300px;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.select {
    color: black;
}

#beat {
    position: relative;
    right: 117px;
}

@media screen and (max-width: 480px) {
    #beat {right: 40px;}
}
body {
    background-color: black;
}

table, th, td, tr, hr{
    
    border-collapse: collapse;
}



tr:hover {
    border: 2px solid palegoldenrod;
    border-radius: 5px;
}


th {
    margin: auto;
    min-width: 130px;
    font-weight: 300;
    background-color: lightcoral;
}
td {
    text-align: center;
    background-color: lightcyan;
    width: 120px;
}

.player {
    position: fixed;
    left: 5%;
    bottom: 5%;
    border: 2px solid black;
    
}
#nowPlaying {
    position: fixed;
    left: 5%;
    bottom: 10%;
    border: 2px solid black;
}
#play {
    background-color: black;
    color: whitesmoke;
}
#pause {
    background-color: black;
    color: whitesmoke;
}